.desk {
    height: 12rem;
    width: 100%;
    max-width: 100rem;
    display: block;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infoPanel {
    font-family: 'Varela Round';
    font-size: 2.5rem; 
    color: #3c3c3c;
}