@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap');

:root {
    --main-font: 'M PLUS Rounded 1c', sans-serif;
    --text-font: 'Lato';

    --light-blue: #12CBC4;
    --dull-blue: #1B1464;
    --light-green-blue: #22a6b3;
    --dull-red: #EA2027;
    --light-pink: #ED4C67;
    --dull-pink: #be2edd;
    --light-yellow: #FFC312;
    --dull-yellow:#F79F1F;
    --light-green: #C4E538;
    --dull-green: #009432;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

@media only screen and (max-width: 75em) {
    html{
        font-size: 56.25%; /*1 rem = 9px, 9/16 = 50%  */
    }
}

@media only screen and (max-width: 56.25em) {
    html{
        font-size: 56.25%; 
    }
}

body {
    box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}