@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&display=swap');
:root {
    --title-font: 'Open Sans';
    --text-font: 'Lato';

    --light-blue: #0652DD;
    --deep-blue: #1B1464;
    --light-green-blue: #22a6b3;
    --dull-red: #eb4d4b;
    --light-pink: #ED4C67;
    --dull-pink: #be2edd;
    --light-orange: #FFC312;
    --dull-orange:#EE5A24;
    --light-green: #C4E538;
    --dull-green: #6ab04c;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

@media only screen and (max-width: 75em) {
    html{
        font-size: 56.25%; /*1 rem = 9px, 9/16 = 50%  */
    }
}

@media only screen and (max-width: 56.25em) {
    html{
        font-size: 56.25%; 
    }
}

body {
    box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}